body { margin: 0px; padding: 0px; font-family: "Trebuchet MS","Helvetica","Arial","Verdana","sans-serif"; font-size: 62.5%; }
* { font-size: 14px; }

.newbox { width: 150px; height: 40px; background-color: #ff66ff; float: left; text-align: center; line-height: 40px; font-size: 1.8em; color: #fff; }
.newbox:hover { background-color: #aaa; cursor: pointer; }

.top-left-corner-cell, .top-right-corner-cell, .bottom-left-corner-cell, .bottom-right-corner-cell, .top-mid-edge-cell, .left-mid-edge-cell, .right-mid-edge-cell, .bottom-mid-edge-cell, .inner-cell {
	border: 1px solid #ddd;
}

.top-left-corner-cell {margin: 0px 1px 1px 0px; /* border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; */}
.top-right-corner-cell {margin: 0px 0px 1px 1px; /* border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; */}
.bottom-left-corner-cell {margin: 1px 1px 0px 0px; /* border-top: 1px solid #ddd; border-right: 1px solid #ddd; */}
.bottom-right-corner-cell {margin: 1px 0px 0px 1px; /* border-top: 1px solid #ddd; border-left: 1px solid #ddd; */}

.top-mid-edge-cell {margin: 0px 1px 1px 1px; /* border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; */}
.left-mid-edge-cell {margin: 1px 1px 1px 0px; /* border-top: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; */}
.right-mid-edge-cell {margin: 1px 0px 1px 1px; /* border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; */}
.bottom-mid-edge-cell {margin: 1px 1px 0px 1px; /* border-left: 1px solid #ddd; border-top: 1px solid #ddd; border-right: 1px solid #ddd; */}

.inner-cell {margin: 1px; /* border: 1px solid #ddd; */}

.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}

span.red-indicator, span.yellow-indicator, span.green-indicator, span.default-indicator { 
	padding: 0px; border: 0px; margin: 0px; width: 20px;height: 20px; float: left; margin-right: 5px; border: 1px solid #ccc;
}

.mark-unattend, .default-indicator { background-color: #ff66ff; }
.mark-noanswer, .red-indicator { background-color: #ff0173; }
.mark-review, .yellow-indicator { background-color: #e6e630; }
.mark-complete, .green-indicator { background-color: #02ffd3; }

/*
.mark-complete, .mark-unattend, .mark-review { background-repeat: no-repeat; background-position: center center; }

.mark-complete { background-image: url('../tick.png'); background-repeat: no-repeat; background-position: center center; }
.mark-unattend { background-image: url('../xmark.png'); }
.mark-review { background-image: url('../review.png'); }
*/

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}